
<div>
    <ul>
        {{#each products}}
        <hr>
        <li>{{title}} {{description}}</li>
        <li>{{price}}</li>
        <li><button>Agregar al carrito</button></li>
        {{/each}}
    </ul>
    <div>
        {{#if options.hasPrevPage}}
        <a href="/students?page={{options.prevPage}}">Anterior</a>
        {{/if}}
        <span>Pagina {{students.page}} de {{options.totalPages}}</span>
        {{#if options.hasNextPages}}
            <a href="/students?page={{options.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
    
</div>