
<div>
    <ul>
        {{#each products}}
        <hr>
        <li>{{title}} {{description}}</li>
        <li>{{price}}</li>
        <li><button>Agregar al carrito</button></li>
        {{/each}}
    </ul>
    <div>
        {{#if students.hasPrevPage}}
        <a href="/students?page={{students.prevPage}}">Anterior</a>
        {{/if}}
        <span>Pagina {{students.page}} de {{students.totalPages}}</span>
        {{#if students.hasNextPages}}
            <a href="/students?page={{students.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
    
</div>